<div class="container" style="background:#ccc;padding:15px;">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field form-group">
      <%= f.label "Senha" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Log in", class: "btn btn-submit" %>
    </div>
  <% end %>
</div>